@import "tailwindcss";
@custom-variant hover (&:hover);

:root {
  --background: #334356;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-white-100: #faf8f1;
  --color-gray-100: #e1ded2;
  --color-gold-500: #e0b775;
  --color-brown-700: #8d7350;
  --color-blue-300: #b9deff;
  --color-blue-100:#d6ecf7;
  --color-blue-300:#B9DEFF;
  --color-blue-500: #6A9ECA;
  --color-blue-900: #334356;
  --color-blue-950: #334356;
  --color-green-100: #A1C076;
  --color-green-500:#7B9853;
  --color-green-900:#335652;
  --color-red-500: #d94f67;
  --color-red-700: #ae3e3d;
  --color-pink-300: #FDB1CD;
  --color-purple-300:#DDA4E4;
  --color-purple-500:#AF85C3;
  --color-orange-500: #f6b74e;
  --color-orange-700:#e38649;
  --color-gold-500: #e0b775;
  --color-brown-700: #8d7350;
  --color-gray-100: #e1ded2;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-fraunces: var(--font-fraunces);
  --font-labrada: var(--font-labrada);
}

html {
  min-height: 100%;
  overflow-x: clip;
  background-color: #334356;
  background-image: linear-gradient(
    to right,
    rgb(72 88 111 / 0.2) 0%,
    rgb(122 156 198 / 0.2) 50%,
    rgb(72 88 111 / 0.2) 100%
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

body {
  margin: 0;
  min-height: 100%;
  overflow-x: clip;
  background: transparent;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
